.setcity__page {
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.setcity__wellcome {
    width: 70%;
    margin: auto;
    height: 100%;

    form {
        display: flex;

    }

    input[type=text] {
        width: 100%;
        border: 2px solid $grey;
        border-radius: 10px 0 0 10px;
        padding: 15px 10px;
        outline: none !important;
        transform: all 2s;
        border-right-width: 0;

        &::placeholder {
            font-weight: 500;
            color: lighten($btn-text, $amount: 50%);
        }

        &:focus {
            border: 2px solid darken($grey, $amount: 20%);
        }

    }

    .setcity__submit--btn {
        border: 2px solid $grey;
        background-color: transparent;
        font-weight: 500;
        color: lighten($btn-text, $amount: 50%);
        padding: 0px 20px;
        border-radius: 0 10px 10px 0;
        transition: all 0.2s;
        outline: none;

        &:hover {
            color: $btn-text;
            border-color: lighten($main-c, $amount: 10%) !important;
            background-color: lighten($main-c, $amount: 25%) !important;
        }
    }
}

.btn-disable {
    color: black !important;
}

.border-error {
    border-color: $error-c !important;
}

.border-sucssec {
    border-color: $sucsses-c !important;
}


.setcity__fetch--fail-span {
    color: $error-c;
    font-weight: 500;
    position: relative;
    font-size: 1.1rem;
    top: 10px;
}

.setcity__box {
    width: 100%;
    height: 90vh;
    background-color: $prime-c;
    border-radius: 25px;
}

.setcity__intro {
    h1 {
        font-weight: 700;
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
    }
}